.page-footer {
  width: 100%;
  border-top: 1px solid $grey;
}

.page-footer__container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 16px;
}

.page-footer__info-list {
  @include list-reset;
  color: $orange;
  text-transform: uppercase;

  li {
    margin-bottom: 10px;
  }
}

.page-footer__catalog-list {
  @include list-reset;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 300px;

  li {
    width: 50%;
    margin-bottom: 10px;
  }
}

.page-footer__links-list {
  @include list-reset;
  width: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__copyright {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  border-top: 1px solid $grey;
}

.page-footer__copyright-container {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  padding: 10px 25px;

  p {
    margin: 0;
    padding: 0;
  }
}
