.promo {
  font-family: $font-roboto;
  font-size: 48px;
  line-height: 54px;
  color: $white;
  background-image: url("https://picsum.photos/id/1059/2400/500/?blur");
  background-size: cover;
}

.promo__img-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 40px 25px;
}

.promo p {
  position: relative;
  width: 500px;
  margin-right: auto;
  padding: 40px 0;
  display: flex;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 40%;
    width: 160px;
    height: 3px;
    background-color: $white;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 40%;
    width: 160px;
    height: 3px;
    background-color: $white;
  }
}
