$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
$font-mono: "PTMono", "Arial Narrow", sans-serif;
$font-roboto: "RobotoCondensed", "Arial Narrow", sans-serif;
$white: #ffffff;
$black: #111111;
$grey: #b2b1ae;
